/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #4D7EA8; /*suave azulado */
  color: #222;
  line-height: 1.7;
  padding: 40px 20px;
}

/* Contenedor principal */
.empresa-container {
  max-width: 1100px;
  margin: auto;
  padding: 40px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  border-top: 10px solid #1e4f91;
}

/* Título principal */
.empresa-container h1 {
  font-size: 36px;
  color: #1e4f91;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

/* Cada bloque de texto */
.bloque {
  margin-bottom: 40px;
  padding: 30px;
  border-left: 6px solid #f58220;
  background: #fdfdfd;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.bloque:hover {
  transform: translateY(-5px);
}

/* Subtítulos */
.bloque h2 {
  font-size: 24px;
  color: #f58220;
  margin-bottom: 12px;
  font-weight: 600;
}

/* Texto normal */
.bloque p {
  font-size: 17px;
  text-align: justify;
  color: #333;
}

/* Lista de valores */
.bloque ul {
  padding-left: 20px;
  margin-top: 15px;
}

.bloque ul li {
  margin-bottom: 12px;
  font-size: 16px;
  color: #333;
}

/* Imagen decorativa final */
.imagen-valores {
  display: block;
  max-width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
/*botones*/
.botones {
  text-align: center;
  margin: 40px 0;
}

.botones a {
  display: inline-block;
  padding: 12px 25px;
  margin: 10px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-principal {
  background-color:  #007bff;
  color: white;
}

.btn-principal:hover {
  background-color: #1a242f;
}

.btn-donar {
  background-color: #F25C05;
  color: white;
}

.btn-donar:hover {
  background-color: #0ce121;
}


